body {
    margin: 0px 0px;
}

h1 {
    vertical-align: central;
    line-height: 42px;
    font-size: 42px;
    padding: 0px 10px;
    margin: 0px 0px;
}

.ui-corner-all {
    border-radius: 0px;
}

.ui-picklist-list {
    width: 500px !important;
}

.ui-wizard-step-title {
    width: 33.3% !important;
    margin: 0px !important;    
    box-sizing: border-box;
    text-align: center;
}

.ui-datalist-content {
    padding-right: 20px !important;
}
