<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['addNewUser.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">                        
                        <h:outputLabel for="username" value="#{msg['addNewUser.user.username']}" />
                        <p:inputText id="username" value="#{addNewUser.username}" required="true">
                            <f:validator binding="#{usernameExitsValidator}" />
                        </p:inputText>

                        <h:outputLabel for="name" value="#{msg['addNewUser.user.name']}" />
                        <p:inputText id="name" value="#{addNewUser.name}" required="true" />

                        <h:outputLabel for="surname" value="#{msg['addNewUser.user.surname']}" />
                        <p:inputText id="surname" value="#{addNewUser.surname}" required="true" />

                        <h:outputLabel for="password" value="#{msg['addNewUser.user.password']}" />
                        <p:password id="password" value="#{addNewUser.password}" required="true" binding="#{password}" />

                        <h:outputLabel for="password2" value="#{msg['addNewUser.user.passwordCheck']}" />
                        <p:password id="password2" value="#{addNewUser.passwordCheck}" required="true">
                            <f:validator binding="#{passwordValidator}" />
                            <f:attribute name="password" value="#{password}" />
                        </p:password>

                        <f:facet name="footer">
                            <p:commandButton value="#{msg['addNewUser.user.confirm']}" action="#{addNewUser.submit()}" ajax="false" />
                        </f:facet>  
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
