<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['addNewPbi.title']}
            </ui:define>
            <ui:define name="content">               
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">                        
                        <h:outputLabel for="name" value="#{msg['addNewPbi.pbi.name']}" />
                        <p:inputText id="name" value="#{addNewProductBacklogItem.name}" required="true" />                        

                        <h:outputLabel for="description" value="#{msg['addNewPbi.pbi.description']}" />
                        <p:inputTextarea id="description" rows="5" cols="60" value="#{addNewProductBacklogItem.description}" required="true" />

                        <p:outputLabel for="priority" value="#{msg['addNewPbi.pbi.priority']}" />
                        <p:selectOneMenu id="priority" value="#{addNewProductBacklogItem.priority}" style="width:125px">
                            <f:selectItems value="#{addNewProductBacklogItem.priorities}" />
                        </p:selectOneMenu>

                        <f:facet name="footer">
                            <p:commandButton value="#{msg['addNewPbi.pbi.confirm']}" ajax="false" action="#{addNewProductBacklogItem.submit(msg['message.productitem.added'])}">
                                <f:param name="productId" value="#{addNewProductBacklogItem.product.id}" />
                            </p:commandButton>
                            <p:button value="#{msg['addNewPbi.pbi.cancel']}" outcome="productDetail">
                                <f:param name="productId" value="#{addNewProductBacklogItem.product.id}" />
                            </p:button>                            
                        </f:facet>  
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
