<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['addNewTask.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">                        
                        <h:outputLabel for="name" value="#{msg['addNewTask.task.name']}" />
                        <p:inputText id="name" value="#{addNewTask.name}" required="true" />

                        <h:outputLabel for="description" value="#{msg['addNewTask.task.description']}" />
                        <p:inputTextarea id="description" rows="5" cols="60" value="#{addNewTask.description}" required="true" />

                        <f:facet name="footer">
                            <p:commandButton value="#{msg['addNewTask.task.submit']}" ajax="false" action="#{addNewTask.submit()}">
                                <f:param name="sprintBacklogItemId" value="#{addNewTask.sbi.sprint}" />
                            </p:commandButton>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
