<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['createNewSprint.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <p:wizard widgetVar="wizard" flowListener="#{addNewSprint.onFlowProcess}" nextLabel="#{msg['createNewSprint.wizzard.next']}" backLabel="#{msg['createNewSprint.wizzard.back']}">
                        <p:tab id="basic" title="#{msg['createNewSprint.wizzard.basic']}">
                            <p:panel header="#{msg['createNewSprint.wizzard.form.basic.header']}">                                
                                <h:panelGrid columns="2" columnClasses="label, value">
                                    <h:outputText value="#{msg['createNewSprint.wizzard.form.basic.name']} *" />
                                    <p:inputText value="#{addNewSprint.name}" required="true" label="#{msg['createNewProduct.wizzard.form.basic.name']}"/>

                                    <h:outputText value="#{msg['createNewSprint.wizzard.form.basic.description']}" />
                                    <p:inputText value="#{addNewSprint.description}" required="false" label="#{msg['createNewSprint.wizzard.form.basic.description']}"/>

                                    <h:outputText value="#{msg['createNewSprint.wizzard.form.basic.start']} *" />
                                    <p:calendar id="maskcalendarstart" value="#{addNewSprint.startDate}" pattern="dd. MM. yyyy" mask="true" required="true" binding="#{calendarStart}"/>

                                    <h:outputText value="#{msg['createNewSprint.wizzard.form.basic.length']} *" />
                                    <p:calendar id="maskcalendarend" value="#{addNewSprint.endDate}" pattern="dd. MM. yyyy" mask="true" required="true">                                        
                                        <f:validator binding="#{dateValidator}" />
                                        <f:attribute name="maskcalendarstart" value="#{calendarStart}" />
                                    </p:calendar>
                                </h:panelGrid>                                
                            </p:panel>
                        </p:tab>
                        <p:tab id="pbi" title="#{msg['createNewSprint.wizzard.pbi']}">
                            <p:panel header="#{msg['createNewSprint.wizzard.form.pbi.header']}">
                                <h:outputText value="#{msg['createNewSprint.wizzard.form.pbi.instructions']}" />
                                <p:pickList id="pickList" converter="#{productBacklogItemConverter}" value="#{addNewSprint.productBacklogItemsPickList.items}" var="item" itemLabel="#{item.name} [#{item.priority}]" itemValue="#{item}" />
                            </p:panel>
                        </p:tab>
                        <p:tab id="confirm" title="#{msg['createNewSprint.wizzard.summary']}">
                            <p:panel header="#{msg['createNewSprint.wizzard.form.summary.header']}">                           
                                <h:panelGrid columns="2" cellpadding="5"  columnClasses="label, value">
                                    <h:outputLabel for="sprint-name" value="#{msg['createNewSprint.wizzard.form.summary.name']}:" />
                                    <h:outputText id="sprint-name" value="#{addNewSprint.name}" />

                                    <h:outputLabel for="sprint-description" value="#{msg['createNewSprint.wizzard.form.summary.description']}:" />
                                    <h:outputText id="sprint-description" value="#{addNewSprint.description}" />

                                    <h:outputLabel for="sprint-start-date" value="#{msg['createNewSprint.wizzard.form.summary.start']}:" />
                                    <h:outputText id="sprint-start-date" value="#{addNewSprint.startDate}">
                                        <f:convertDateTime pattern="dd. MM. yyyy" />
                                    </h:outputText>

                                    <h:outputLabel for="sprint-end" value="#{msg['createNewSprint.wizzard.form.summary.end']}:" />
                                    <h:outputText id="sprint-end" value="#{addNewSprint.endDate}">
                                        <f:convertDateTime pattern="dd. MM. yyyy" />
                                    </h:outputText>

                                    <p:dataList value="#{addNewSprint.productBacklogItemsPickList.items.target}" var="item" type="ordered">
                                        <f:facet name="header">
                                            #{msg['createNewSprint.wizzard.form.summary.pbis']}
                                        </f:facet>
                                        #{item}
                                    </p:dataList>                                                                                                            
                                </h:panelGrid>
                                <p:commandButton ajax="false" value="#{msg['createNewSprint.wizzard.form.summary.submit']}" oncomplete="wizard.loadStep(wiz.cfg.steps[0], true)" action="#{addNewSprint.submit()}">
                                    <f:param name="productId" value="#{addNewSprint.product.id}" />
                                </p:commandButton>
                            </p:panel>                            
                        </p:tab>
                    </p:wizard>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
