<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['browseProducts.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <p:dataTable id="tbl" var="product" value="#{browseProducts.products}" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseProducts.product.name']}" />
                            </f:facet>
                            <p:commandLink ajax="false" value="#{product.name}" id="name" action="#{productDetail.setProductById('productDetail?faces-redirect=true')}">
                                <f:param name="productId" value="#{product.id}" />
                            </p:commandLink>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseProducts.product.description']}"/>
                            </f:facet>
                            <h:outputText id="description" value="#{product.description}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseProducts.product.owner']}" />
                            </f:facet>
                            <h:outputText id="owner" value="#{product.owner}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
