<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
     <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['browseTasks.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                     <p:dataTable id="tbl" var="" value="" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseTasks.task.name']}" />
                            </f:facet>
                            <h:outputText id="name" value="" />
                        </p:column>
 
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseTasks.task.description']}"/>
                            </f:facet>
                            <h:outputText id="description" value="" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseTasks.task.state']}" />
                            </f:facet>
                            <h:outputText id="state" value="" />
                        </p:column>
                         
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseTasks.task.effort.estimated']}" />
                            </f:facet>
                            <h:outputText id="effort-estimated" value="" />
                        </p:column>
                         
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['browseTasks.task.effort.done']}" />
                            </f:facet>
                            <h:outputText id="effort-done" value="" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
