<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['composeNewMessage.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="receiver" value="#{msg['composeNewMessage.message.receiver']}" />
                        <p:inputText id="receiver" value="#{composeNewMessage.receiver}" required="true">
                            <f:validator binding="#{usernameNotExistsValidator}" />
                        </p:inputText>

                        <h:outputLabel for="subject" value="#{msg['composeNewMessage.message.subject']}" />
                        <p:inputText id="subject" value="#{composeNewMessage.subject}" required="true" />

                        <h:outputLabel for="type" value="#{msg['composeNewMessage.message.type']}" />
                        <h:selectOneMenu value="#{composeNewMessage.type}">
                            <f:selectItems value="#{composeNewMessage.types}"/>
                        </h:selectOneMenu>

                        <h:outputLabel for="text" value="#{msg['composeNewMessage.message.text']}" />
                        <p:inputTextarea id="text" value="#{composeNewMessage.text}" rows="10" cols="60" required="true" />

                        <f:facet name="footer">
                            <p:commandButton value="#{msg['composeNewMessage.message.send']}" action="#{composeNewMessage.send()}" ajax="false" />
                        </f:facet>  
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
