<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"      
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['createNewProduct.title']}
            </ui:define>
            <ui:define name="content">
                <h:form id="wizardform">
                    <p:wizard widgetVar="wizard" flowListener="#{createProductWizard.onFlowProcess}" nextLabel="#{msg['createNewProduct.wizzard.next']}" backLabel="#{msg['createNewProduct.wizzard.back']}">
                        <p:tab id="basic" title="#{msg['createNewProduct.wizzard.basic']}">
                            <p:panel header="#{msg['createNewProduct.wizzard.form.basic.header']}">
                                <h:panelGrid columns="2" columnClasses="label, value">
                                    <h:outputText value="#{msg['createNewProduct.wizzard.form.basic.name']} *" />
                                    <p:inputText value="#{createProductWizard.productName}" required="true" label="#{msg['createNewProduct.wizzard.form.basic.name']}">
                                        <f:validator binding="#{productNameValidator}" />
                                    </p:inputText>

                                    <h:outputText value="#{msg['createNewProduct.wizzard.form.basic.description']}" />
                                    <p:inputText value="#{createProductWizard.productDescription}" required="false" label="#{msg['createNewProduct.wizzard.form.basic.description']}"/>
                                </h:panelGrid>
                            </p:panel>
                        </p:tab>
                        <p:tab id="team" title="#{msg['createNewProduct.wizzard.team']}">
                            <p:panel header="#{msg['createNewProduct.wizzard.form.team.header']}">
                                <h:outputText value="#{msg['createNewProduct.wizzard.form.team.instructions']}" />
                                <p:pickList converter="#{userConverter}" id="pickList" value="#{createProductWizard.pickList.users}" var="team" itemLabel="#{team}" itemValue="#{team}" />
                            </p:panel>
                        </p:tab>
                        <p:tab id="confirm" title="#{msg['createNewProduct.wizzard.summary']}">
                            <p:panel header="#{msg['createNewProduct.wizzard.form.summary.header']}">
                                <h:panelGrid columns="2" cellpadding="5"  columnClasses="label, value">
                                    <h:outputLabel for="product-name" value="#{msg['createNewProduct.wizzard.form.summary.name']}:" />
                                    <h:outputText id="product-name" value="#{createProductWizard.productName}" />

                                    <h:outputLabel for="product-description" value="#{msg['createNewProduct.wizzard.form.summary.description']}:" />
                                    <h:outputText id="product-description" value="#{createProductWizard.productDescription}" />

                                    <h:outputLabel for="product-owner" value="#{msg['createNewProduct.wizzard.form.summary.owner']}:" />
                                    <h:outputText id="product-owner" value="#{createProductWizard.productOwner}" />

                                    <p:dataList value="#{createProductWizard.pickList.users.target}" var="user" type="ordered">
                                        <f:facet name="header">
                                            #{msg['createNewProduct.wizzard.form.summary.teammembers']}
                                        </f:facet>
                                        #{user}
                                    </p:dataList>                                                                                                            
                                </h:panelGrid>                                
                                <p:commandButton ajax="false" value="#{msg['createNewProduct.wizzard.form.summary.submit']}" oncomplete="wiz.loadStep(wiz.cfg.steps[0], true)" action="#{createProductWizard.submit(msg['message.product.added'])}" />
                            </p:panel>                            
                        </p:tab>
                    </p:wizard>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
