<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['editPbi.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">                        
                        <h:outputLabel for="name" value="#{msg['editPbi.pbi.name']}" />
                        <p:inputText id="name" value="#{editProductBacklogItem.productBacklogItem.name}" required="true" />

                        <h:outputLabel for="description" value="#{msg['editPbi.pbi.description']}" />
                        <p:inputTextarea id="description" rows="5" cols="60" value="#{editProductBacklogItem.productBacklogItem.description}" required="true" />

                        <p:outputLabel for="priority" value="#{msg['editPbi.pbi.priority']}" />
                        <p:selectOneMenu id="priority" value="#{editProductBacklogItem.productBacklogItem.priority}" style="width:125px">
                            <f:selectItems value="#{editProductBacklogItem.priorities}" />
                        </p:selectOneMenu>
                        
                        <f:facet name="footer">
                            <p:commandButton value="#{msg['editPbi.pbi.confirm']}" ajax="true" action="#{editProductBacklogItem.submit('productDetail')}">
                                <f:param value="#{editProductBacklogItem.productBacklogItem.product.id}" name="productId" />
                            </p:commandButton>
                        </f:facet>  
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
