<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['index.title']}
            </ui:define>
            <ui:define name="content"> 
                <c:if test="#{empty index.user}">
                    #{msg['index.rootLogged']}                 
                </c:if>
                <c:if test="#{not empty index.user}">
                    #{msg['index.welcome']} <b><u>#{index.user.name} #{index.user.surname}</u></b> [<i>#{index.user.username}</i>] <br/>
                    #{msg['index.unread']}  #{index.unreadMessages} #{msg['index.unread.messages']} <br/>
                    
                    <h:form>
                        <p:dataList value="#{browseProducts.products}" var="product" type="ordered" style="width:250px">
                            <f:facet name="header">
                                #{msg['index.products']}
                            </f:facet>
                            <p:commandLink ajax="false" value="#{product.name}" id="name" action="#{productDetail.setProductById('productDetail?faces-redirect=true')}">
                                <f:param name="productId" value="#{product.id}" />
                            </p:commandLink>
                        </p:dataList>
                    </h:form>
                </c:if>                   
            </ui:define>
        </ui:composition>
    </h:body>
</html>
