<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['manageTask.title']} (tady_asi_název_tasku?)
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5"> 
                        <h:outputLabel for="author" value="#{msg['manageTask.author']}" />
                        <h:outputText id="author" value="" />
                        
                        <h:outputLabel for="time-started" value="#{msg['manageTask.task.time.started']}" />
                        <h:outputText id="time-started" value="" />
                        
                        <h:outputLabel for="status" value="#{msg['manageTask.task.status']}" />
                        <p:selectOneMenu id="status" value="" style="width:125px">
                            <f:selectItem itemLabel="#{msg['manageTask.task.status.pick']}" itemValue=""/>
                            <f:selectItems itemValue="" />
                        </p:selectOneMenu>
                        
                        <h:outputLabel for="description" value="#{msg['manageTask.task.description']}" />
                        <p:inputTextarea id="description" rows="5" cols="60" value="" required="true" />
                        
                        <p:outputLabel for="effort-estimate" value="#{msg['manageTask.task.effort']}" />
                        <p:inputText id="effort-estimate" value="" required="true" />
                        
                        <p:outputLabel for="effort-done" value="#{msg['manageTask.task.effort.done']}" />
                        <p:inputText id="effort-done" value="" required="false" />
                        
                        <f:facet name="footer">
                            <p:commandButton value="#{msg['manageTask.task.submit']}" ajax="false" />
                        </f:facet>  
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
