<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['productDetail.title']} #{productDetail.product.name}
            </ui:define>
            <ui:define name="content">
                <h3>Product Backlog</h3>
                <h:form>
                    <p:commandButton value="#{msg['productDetail.addPbi']}" ajax="false" action="#{addNewProductBacklogItem.setProductById('addNewProductBacklogItem')}" >
                        <f:param name="productId" value="#{productDetail.product.id}" />
                    </p:commandButton>
                    <p:dataTable id="tbl" var="item" value="#{productDetail.items}" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.product.name']}" />
                            </f:facet>
                            <h:outputText id="name" value="#{item.name}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.product.description']}"/>
                            </f:facet>
                            <h:outputText id="description" value="#{item.description}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.product.priority']}" />
                            </f:facet>
                            <h:outputText id="priority" value="#{item.priority}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.product.status']}" />
                            </f:facet>
                            <h:outputText id="status" value="#{item.status}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.action']}" />
                            </f:facet>
                            <p:growl id="edit" showDetail="true" />
                            <p:commandButton value="#{msg['productDetail.product.edit']}" ajax="false" action="#{editProductBacklogItem.setProductBacklogItemById('editProductBacklogItem')}">
                                <f:param name="productBacklogItemId" value="#{item.id}" /> 
                            </p:commandButton>                            
                        </p:column>
                    </p:dataTable>
                </h:form>

                <h3>#{msg['productDetail.sprints']}</h3>
                <h:form>
                    <p:commandButton value="#{msg['productDetail.addSprint']}" ajax="false" action="#{addNewSprint.setProductById('addNewSprint')}" >
                        <f:param name="productId" value="#{productDetail.product.id}" />
                    </p:commandButton>
                    <p:dataTable id="tbl" var="sprint" value="#{productDetail.sprints}" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.sprint.name']}" />
                            </f:facet>
                            <p:commandLink ajax="false" value="#{sprint.name}" id="name" action="#{sprintDetail.setSprintById('sprintDetail?faces-redirect=true')}">
                                <f:param name="sprintId" value="#{sprint.id}" />
                            </p:commandLink>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.sprint.description']}"/>
                            </f:facet>
                            <h:outputText id="description" value="#{sprint.description}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.sprint.startDate']}" />
                            </f:facet>
                            <h:outputText id="startDate" value="#{sprint.startDate}"> 
                                <f:convertDateTime pattern="dd. MM. yyyy" />
                            </h:outputText>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['productDetail.sprint.endDate']}" />
                            </f:facet>
                            <h:outputText id="endDate" value="#{sprint.endDate}">
                                <f:convertDateTime pattern="dd. MM. yyyy" />
                            </h:outputText>
                        </p:column>                      

                        <p:column>
                            <f:facet name="header">
                                <h:outputText id="status">#{msg['productDetail.sprint.status']}</h:outputText>
                            </f:facet>
                            #{sprint.closed ? msg['productDetail.sprint.closed'] : msg['productDetail.sprint.open']}
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
