<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['message.recieved.title']}
            </ui:define>
            <ui:define name="content">
                 <h:form>
                     <p:dataTable id="tbl" var="message" value="#{receivedMessages.messages}" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['message.sender']}" />
                            </f:facet>
                            <h:outputText id="sender" value="#{message.sender}" />
                        </p:column>
 
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['message.time.recieved']}"/>
                            </f:facet>
                            <h:outputText id="time" value="#{message.timeSent}" />
                        </p:column>
                         
                         <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['message.type']}"/>
                            </f:facet>
                            <h:outputText id="type" value="#{message.type}" />
                        </p:column>

                         <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['message.subject']}"/>
                            </f:facet>
                             <h:outputText id="subject" value="#{message.subject}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['message.text']}" />
                            </f:facet>
                            <p:commandLink id="text" value="#{message.text.length() > 30 ? (message.text.subSequence(0, 30).toString()) : message.text}"/>
                            <p:overlayPanel id="textPanel" for="text" hideEffect="fade" >
                                <h:outputText value="#{message.text}" />
                            </p:overlayPanel>
                        </p:column>
                    </p:dataTable>
                </h:form> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>
