<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['sprintDetail.title']} #{sprintDetail.sprint.name}
            </ui:define>
            <ui:define name="content">
                <h3>Sprint Backlog</h3>
                <c:if test="#{sprintDetail.sprint.closed}">
                    #{msg['message.sprint.closed']}
                </c:if>
                <c:if test="#{not sprintDetail.sprint.closed}">
                    #{msg['sprintDetail.timeleft']}: <b>#{sprintDetail.timeLeft}</b>
                    (<h:outputText value="#{sprintDetail.sprint.endDate}">
                        <f:convertDateTime pattern="dd. MM. yyyy" />
                    </h:outputText>)
                    <c:if test="#{sprintDetail.timeLeft lt 0}">
                        <b style="color: red; font-weight: bold;">#{msg['message.sprint.over']}</b>
                    </c:if>
                </c:if>                                            
                <h:form>       
                    <c:if test="#{not sprintDetail.sprint.closed}">
                        <p:commandButton value="#{msg['sprintDetail.close']}" ajax="false" action="#{sprintDetail.closeSprint('productDetail')}" >
                            <f:param name="productId" value="#{sprintDetail.sprint.product}" />
                        </p:commandButton>
                    </c:if>
                    <p:dataTable id="tbl" var="item" value="#{sprintDetail.items}" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['sprintDetail.item.name']}" />
                            </f:facet>
                            <p:commandLink ajax="false" value="#{item.name}" id="name" action="#{sprintBacklogItemDetail.setSprintBacklogItemById('sprintBacklogItemDetail?faces-redirect=true')}">
                                <f:param name="sprintBacklogItemId" value="#{item.id}" />
                            </p:commandLink>
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['sprintDetail.item.description']}"/>
                            </f:facet>
                            <h:outputText id="description" value="#{item.description}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['sprintDetail.item.status']}" />
                            </f:facet>
                            <h:outputText id="status" value="#{item.status}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['sprintDetail.action']}" />
                            </f:facet>
                            <c:if test="#{not sprintDetail.sprint.closed}">
                                <p:commandButton value="#{msg['sprintDetail.item.finish']}" ajax="true" action="#{sprintDetail.setFinished()}" update="tbl">
                                    <f:param name="productBacklogItemId" value="#{item.id}" /> 
                                </p:commandButton>                            
                                <p:commandButton value="#{msg['sprintDetail.item.addtask']}" ajax="false" action="#{addNewTask.setSprintBacklogItemById('addNewTask')}">
                                    <f:param name="sprintBacklogItemId" value="#{item.id}" /> 
                                </p:commandButton>                            
                            </c:if>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
