<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['sprintBacklogItemDetail.title']} #{sprintBacklogItemDetail.sbi.name}
            </ui:define>
            <ui:define name="content">
                <p:button outcome="sprintDetail" value="#{msg['back']}">
                    <f:param name="#{sprintBacklogItemDetail.sbi.id}" />
                </p:button>
                <p:dataTable id="tbl" var="task" value="#{sprintBacklogItemDetail.tasks}" style="margin-bottom:20px">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['productDetail.product.name']}" />
                        </f:facet>
                        <h:outputText id="name" value="#{task.name}" />
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['productDetail.product.description']}"/>
                        </f:facet>
                        <h:outputText id="description" value="#{task.description}" />
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['productDetail.added']}" />
                        </f:facet>
                        <h:outputText id="add" value="#{task.author}" />
                    </p:column>

                </p:dataTable>
            </ui:define>            
        </ui:composition>
    </h:body>
</html>
