<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <ui:composition template="/WEB-INF/layout.xhtml">
            <ui:define name="header">
                #{msg['viewUsers.title']}
            </ui:define>
            <ui:define name="content">
                <h:form>
                    <p:dataTable id="tbl" var="user" value="#{viewUsers.users}" paginator="true" rows="10" style="margin-bottom:20px">
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['viewUsers.user.name']}"/>
                            </f:facet>
                            <h:outputText id="name" value="#{user.name}" />
                        </p:column>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['viewUsers.user.surname']}" />
                            </f:facet>
                            <h:outputText id="surname" value="#{user.surname}" />
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{msg['viewUsers.user.username']}" />
                            </f:facet>
                            <h:outputText id="username" value="#{user.username}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
