<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:view>
        <h:head>
            <title>Scrum</title>
            <h:outputStylesheet name="css/style.css" />
        </h:head>
        <h:body>
            <p:panel style="margin: 30px auto; width: 440px;" header="#{msg['login.title']}">
                <ui:insert name="content">
                    <h:form>
                        <h:panelGrid columns="2" cellpadding="5">                        
                            <h:outputLabel for="username" value="#{msg['login.username']}" />
                            <p:inputText id="username" value="#{loginBean.username}" required="true" />

                            <h:outputLabel for="password" value="#{msg['login.password']}" />
                            <p:password id="password" value="#{loginBean.password}" required="true" />

                            <f:facet name="footer">
                                <p:commandButton value="#{msg['login.submit']}" action="#{loginBean.login()}" ajax="false" />
                            </f:facet>  
                        </h:panelGrid>
                    </h:form>
                </ui:insert>
            </p:panel>
        </h:body>
    </f:view>
</html>
