<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/facelets/tags">    
    <!--<sec:ifAllGranted roles="ROLE_USER">-->
    <f:view>
        <h:head>
            <title>Scrum</title>
            <h:outputStylesheet name="css/style.css" />
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="50" style="padding: 0px; border-width: 0px; border-bottom: 1px solid black;">
                    <div class="ui-grid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-10">
                                <h:link outcome="index"><h1>SCRUM</h1></h:link>
                            </div>
                            <div class="ui-grid-col-2">
                                <h:form>
                                    <p:menuButton value="#{loginBean.username}" iconPos="right" style="float: right; margin-right: 5px;">
                                        <p:menuitem value="#{msg['personButton.logout']}" action="#{loginBean.logout}" />
                                    </p:menuButton>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </p:layoutUnit>
                <p:layoutUnit position="west" size="300" style="border-width: 0px; border-right: 1px solid black;">
                    <h:form>
                        <p:menu toggleable="true" style="width:275px;">
                            <sec:ifNotGranted roles="ROLE_ADMIN">
                                <p:submenu label="#{msg['menu.messages']}">
                                    <p:menuitem value="#{msg['menu.messages.compose']}" outcome="composeNewMessage" icon="ui-icon-plus" />
                                    <p:separator />
                                    <p:menuitem value="#{msg['menu.messages.users']}" outcome="viewUsers" icon="ui-icon-contact" />
                                    <p:separator />
                                    <p:menuitem value="#{msg['menu.messages.received']}" outcome="receivedMessages" icon="ui-icon-mail-closed" />
                                    <p:menuitem value="#{msg['menu.messages.sent']}" outcome="sentMessages" icon="ui-icon-pencil" />
                                </p:submenu>
                                <p:submenu label="#{msg['menu.products']}">
                                    <p:menuitem value="#{msg['menu.products.create']}" outcome="createNewProduct" icon="ui-icon-plus" />
                                    <p:menuitem value="#{msg['menu.products.browse']}" outcome="browseProducts" icon="ui-icon-zoomin" />
                                </p:submenu>                      
                            </sec:ifNotGranted>
                            <sec:ifAllGranted roles="ROLE_ADMIN">
                                <p:submenu label="#{msg['menu.settings']}"> 
                                    <p:menuitem value="#{msg['menu.settings.users.manage']}" outcome="manageUsers" icon="ui-icon-person" />
                                    <p:menuitem value="#{msg['menu.settings.users.create']}" outcome="addNewUser" icon="ui-icon-person" />
                                </p:submenu>
                            </sec:ifAllGranted>
                        </p:menu>
                    </h:form>
                </p:layoutUnit>
                <p:layoutUnit position="center" style="border-width: 0px;">
                    <h2>
                        <ui:insert name="header">

                        </ui:insert>
                    </h2>
                    <p:growl id="msgs" showDetail="true" /> 
                    <ui:insert name="content">

                    </ui:insert>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
    <!--</sec:ifAllGranted>-->
</html>
